@model AspProj10.Models.Post

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAdd)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>



<h1>Lista Komentarzy</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł:
            </th>
            
            <th>
                Data publikacji:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in @Model.Comments)
        {
        <tr>
            <td>
                @comment.Commentt
            </td>
            <td>
                
            </td>
            <td>
                <a asp-controller="Post" asp-action="EditComment asp-route-id="@comment.Id">Edytuj</a>
                <a asp-controller="Post" asp-action="Deletec" asp-route-id="@comment.Id">Usuń</a>
                <a asp-controller="Post" asp-action="Details" asp-route-id="@comment.Id">Szczegóły</a>
            </td>
        </tr>
        }
    </tbody>
</table> 