@model ViewModel
<div class="text-center">
    
    
    <div class="text-uppercase">
      
        <h1>@Model.post.Title </h1>
   </div>
    <div>
       @Model.post.Description
    </div>
    <div class="text-lg-left">
       Polubienia: @Model.post.LikeAmmount  
       <div class="text-lg-left">   
       <a asp-controller="Post" asp-action="Like" asp-route-id="@Model.post.Id">Like</a>

        
    </div>
    </div>
    
           
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Komentarze: 
            </th>
            <th>
            </th>
            <th class="text-lg-ight">
                <a asp-controller="Post" asp-action="AddComment" asp-route-id="@Model.post.Id">Dodaj Komentarz</a>
            </th>
            
        </tr>
    </thead>
    <tbody>
       @foreach (Comment comment in Model.Comments)     
    {
            if (comment.PostId == @Model.post.Id) 
            {
                <tr>
                    <td>@comment.Commentt</td>

                 </tr>
                 <td>
                     <a asp-controller="Post" asp-action="DeleteCo" asp-route-id="@comment.Id">Usuń</a>
                 </td>
            }
    }
            
        
        
    </tbody>
</table>