@model ViewModel
<div class="text-center">
    
    
    <div class="text-uppercase">
      
        <h1>@Model.post.Title </h1>
   </div>
    <div>
       @Model.post.Description
    </div>
    <div class="text-lg-left">
       Polubienia: @Model.post.LikeAmmount  
       <div class="text-lg-left">   
       <a asp-controller="Post" asp-action="Like" asp-route-id="@Model.post.Id">Like</a>

        
    </div>
    </div>
    
           
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Komentarze:
            </th>
            
        </tr>
    </thead>
    <tbody>
       @foreach (Comment comment in Model.Comments)
    {
        <tr>
            <td>@comment.Commentt</td>

        </tr>
    }
            
        
        
    </tbody>
</table>