@model ViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
<div class="text-center">


    <div class="text-uppercase">

        <h1>@Model.post.Title </h1>
    </div>
    
    <div>
        <img src="@("~/image/" + Model.post.ImageName)" asp-append-version="true" width="400px" height="400px"/>
    </div>
    <div class="pb-5 pt-4 h4">
        @Model.post.Description
    </div>



    
    <div class="text-lg-left pt-5 h5">
        Polubienia: @Model.post.LikeAmmount
        <span class="float-lg-right">Data Dodania:<br> @Model.post.DateOfAdd</span>
        <div class="text-lg-left">

            <a asp-controller="Post" asp-action="Like" asp-route-id="@Model.post.Id">Like</a>
            @if (signInManager.IsSignedIn(User))
            {
                <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.post.Id">Edytuj</a>
                <a asp-controller="Post" asp-action="DeleteP" asp-route-id="@Model.post.Id">Usuń</a>
            }
        </div>
    </div>

</div>





<table class="table">
    <thead>
        <tr>
            <th>
                Komentarze:
            </th>
            <th>
            </th>
            <th class="text-lg-right">
                <a asp-controller="Post" asp-action="AddComment" asp-route-id="@Model.post.Id">Dodaj Komentarz</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (Comment comment in Model.Comments)
        {
            if (comment.PostId == @Model.post.Id)
            {
                <tr>
                    <td>@comment.Commentt   @if (signInManager.IsSignedIn(User))
                        {
                            <a class="float-lg-right" asp-controller="Post" asp-action="DeleteCo" asp-route-id="@comment.Id">Usuń</a>
                        }
                    </td>

                </tr>

            }
        }



    </tbody>
</table>

